html,
body {
  min-height: 100vh;
}
@keyframes taadaa {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
body {
  /*
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  */
  /* background: linear-gradient(112.1deg, #2e3e80.4%, #f15b22 70.2%); */
  background-color: #000;
  background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
}
/*
:root {
  --font-family: "Quicksand", sans-serif !important;
}
*/
#loading {
  animation: taadaa 5s infinite;
}
.rebel-headline {
  background: linear-gradient(hotpink, white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  white-space: nowrap;
}

/*
  If dark mode, change article background color
*/
[data-theme="dark"] article {
  background-color: black;
}

/*
  If light mode, change h1 color
  */
[data-theme="light"] .rebel-headline {
  background: linear-gradient(black, hotpink);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: Quicksand;
  src: url(Quicksand-VariableFont_wght.ttf);
}
/*
@font-face {
  font-family: intel-one-mono;
  src: url("intel-one-mono/intelone-mono-font-family-medium.woff")
    format("woff");
}*/

.light-mode-toggle {
  float: right;
  position: relative;
  zoom: 0.8;
}

.rebel-light-mode__toggle-form {
  margin-bottom: 0;
}
.rebel-light-mode__toggle-form-label {
  margin-bottom: 0;
}
.rebel-navigator__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}
.rebel-navigator__list-item {
  list-style: none;
  text-align: center;
}

.rebel-navigator__list-item--active a {
  --background-color: var(--muted-border-color) !important;
}

/*
  Navigator links in LIGHT and DARK mode
*/
[data-theme="light"] .rebel-navigator__list-item-link {
  color: black;
}
[data-theme="dark"] .rebel-navigator__list-item-link {
  color: white;
}
