html,
body {
  min-height: 100vh;
}
@keyframes taadaa {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
body {
  /*
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  */
  /* background: linear-gradient(112.1deg, #2e3e80.4%, #f15b22 70.2%); */
  background-color: #000;
  background-image: linear-gradient(147deg, #923cb5 0%, #000000 74%);
}
/*
:root {
  --font-family: "Quicksand", sans-serif !important;
}
*/
#loading {
  animation: taadaa 5s infinite;
}
.rebel-headline {
  background: linear-gradient(hotpink, white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  white-space: nowrap;
}

/*
  If dark mode, change article background color
*/
[data-theme="dark"] article {
  background-color: black;
}

/*
  If light mode, change h1 color
  */
[data-theme="light"] .rebel-headline {
  background: linear-gradient(black, hotpink);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@font-face {
  font-family: Quicksand;
  src: url(Quicksand-VariableFont_wght.ttf);
}
/*
@font-face {
  font-family: intel-one-mono;
  src: url("intel-one-mono/intelone-mono-font-family-medium.woff")
    format("woff");
}*/

.light-mode-toggle {
  float: right;
  position: relative;
  zoom: 0.8;
}

.rebel-light-mode__toggle-form {
  margin-bottom: 0;
}
.rebel-light-mode__toggle-form-label {
  margin-bottom: 0;
}

.rebel-navigator {
  zoom: 0.8;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 576px) {
  .rebel-navigator {
    zoom: 1.1;
  }
}
.rebel-navigator__container {
  padding-bottom: 30px;
}
.rebel-navigator__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}
.rebel-navigator__list-item {
  list-style: none;
  text-align: center;
}

.rebel-navigator__list-item--active a {
  --background-color: var(--muted-border-color) !important;
}

.rebel-navigator__list-item-link {
  font-weight: 300;
}

/*
  Navigator links in LIGHT and DARK mode
*/
[data-theme="light"] .rebel-navigator__list-item-link {
  color: black;
}
[data-theme="dark"] .rebel-navigator__list-item-link {
  color: white;
}
.rebel-balance {
  font-weight: 200;
  text-align: center;
}
.rebel-balance__dollar-value {
  font-weight: 200;
  font-size: 70%;
}

#newWalletButton {
  margin-bottom: var(--pico-spacing);
}

/** Override PICOs huge font size **/
@media (width >= 1280px) {
  :root {
    --pico-font-size: 100%;
  }
}

#mempool {
  zoom: 0.75;
}
/*

  When we have transfers in progress/Mempool info
  On mobile we want to show that above the content (content can be SEND, RECEIVE or any other view)
  On desktop we want to show the mempool info to the right of the content
*/
.rebel-content-container {
  display: flex;
  flex-direction: column; /* Default: Two columns side by side on desktop */
}

.rebel-content-container__mempool,
.rebel-content-container__content {
  flex: 1;
}
@media (min-width: 768px) {
  .rebel-content-container {
    flex-direction: row; /* On mobile, switch to a single column layout */
  }
  #mempool {
    margin-left: 10px;
  }
  /* Order the RightColumn to come before LeftColumn */
  .rebel-content-container__content {
    order: -1;
    flex: 2;
  }
}
